<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Welcome!</h1>
    <div id="container">
    	<form action="#" th:action="@{/result}" th:object="${car}" method="post" style="max-width: 600px; margin: auto;">
    	<label>Car make</label>
    	<input type="text" th:field="*{make}" class="form-control">
    	<label>Car Model</label>
    	<input type="text" th:field="*{car_model}" class="form-control">
    	<label>Problem Description</label>
    	<input type="text" th:field="*{problem}" class="form-control">
    	<button type="submit" class ="btn btn-primary">Send</button>
                        
    	</form>
    </div>
  </body>
</html>